@charset "UTF-8";
header {
  background-image: url(../img/banner-lj.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  padding-top: 64px;
}
header .inicio {
  background-color: rgba(75, 75, 75, 0.5);
  border: 5px solid #FFD24C;
  width: 360px;
  text-align: center;
  padding: 32px;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
}
header .inicio img {
  width: 128px;
  text-align: center;
}
header .inicio .contenedor-texto h1 {
  font-family: "Merienda";
  color: #FFD24C;
}
header .inicio .contenedor-texto h2 {
  font-family: "Poppins";
  font-weight: 100;
  color: #FFD24C;
}

.menu-titulo h2 {
  text-align: center;
  margin-bottom: 16px;
  margin-top: 32px;
  font-family: "Merienda";
  font-weight: 700;
  font-size: 48px;
}

section.nav-menu {
  margin-bottom: 0;
}

section.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-between;
  gap: 8px;
  padding: 8px;
}
section.menu .item {
  width: 100%;
  background-color: #262626;
  border-radius: 10px;
  padding: 8px 16px;
  box-shadow: 6px 6px 5px 1px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 6px 6px 5px 1px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 6px 6px 5px 1px rgba(0, 0, 0, 0.51);
}
section.menu .item h2 {
  text-align: center;
}
section.menu .item h3 {
  color: #EEEEEE;
  text-align: center;
  font-family: "Merienda";
  font-weight: 600;
}
section.menu .item .comida {
  background: rgb(255, 229, 142);
  background: radial-gradient(circle, rgba(255, 229, 142, 0.9) 0%, rgba(255, 215, 95, 0.9) 52%, rgba(255, 215, 94, 0.9) 76%, rgba(255, 215, 98, 0.9) 88%, rgb(255, 210, 76) 95%, rgb(255, 210, 76) 100%);
  border-radius: 8px;
  padding: 4px;
  margin-bottom: 16px;
  box-shadow: 0px 0px 4px 4px rgba(255, 250, 136, 0.69);
  -webkit-box-shadow: 0px 0px 4px 4px rgba(255, 250, 136, 0.69);
  -moz-box-shadow: 0px 0px 4px 4px rgba(255, 250, 136, 0.69);
}
section.menu .item .comida .comida-precio {
  padding: 8px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
section.menu .item .comida .texto-descripcion {
  text-align: center;
}
section.menu .item .comida h4 {
  font-family: "Poppins";
  font-size: 20px;
}
section.menu .item .comida p {
  font-size: 12px;
  text-align: center;
  padding-top: 8px;
}

.nav-galeria {
  margin: 0;
}

.grid-galeria {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px;
  background-color: #FFD24C;
}
.grid-galeria .grid-item {
  border-radius: 8%;
  height: 100%;
}
.grid-galeria .grid-item img {
  border-radius: 8%;
  width: 100%;
  height: 100%;
}

.nav-ubicacion {
  margin: 0;
}

.contenedor-ubicacion {
  background-color: #262626;
  margin: 64px 0;
  margin-right: 64px;
  padding: 64px 64px 64px 0px;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  justify-content: space-between;
}
.contenedor-ubicacion h2 {
  font-family: "Merienda";
  color: #FFD24C;
  margin: 32px 16px 64px 32px;
}
.contenedor-ubicacion p {
  color: #FFD24C;
  margin: 32px 32px 64px 32px;
}
.contenedor-ubicacion .contenedor-texto-ubicacion .enlaces {
  margin: 0 auto;
  display: flex;
}
.contenedor-ubicacion .contenedor-texto-ubicacion .enlaces a {
  font-family: "Merienda";
  margin: auto 32px;
  text-align: center;
  justify-content: center;
  width: 128px;
  border-radius: 8px;
  text-decoration: none;
  border: 1px solid #FFD24C;
  color: #FFD24C;
  padding: 16px;
  background: #262626;
}
.contenedor-ubicacion .contenedor-texto-ubicacion .enlaces a:hover {
  color: #262626;
  background: #FFD24C;
}

.nav-reservar {
  margin: 0;
}

.contenedor-reservar {
  background-color: #FFE69A;
  margin: 64px 0;
  margin-left: 64px;
  padding: 64px 0px 64px 64px;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  justify-content: space-between;
}
.contenedor-reservar img {
  width: 60%;
  height: 348px;
  margin-right: 64px;
}
.contenedor-reservar .contenedor-texto-reservar {
  height: 348px;
  background-color: #FFE69A;
}
.contenedor-reservar .contenedor-texto-reservar a {
  padding: 16px;
  background-color: #92B4EC;
  border-radius: 10px;
}

.nav-clientes {
  margin: 0%;
}

.contenedor-clientes {
  padding: 16px;
  background-color: #FFD24C;
}
.contenedor-clientes h2,
.contenedor-clientes h3 {
  text-align: center;
  font-family: "Poppins";
}
.contenedor-clientes .contenedor-opiniones-clientes {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  align-items: center;
  font-family: "Poppins";
}
.contenedor-clientes .contenedor-opiniones-clientes .cliente {
  width: 148px;
  height: auto;
  text-align: center;
}
.contenedor-clientes .contenedor-opiniones-clientes .cliente img {
  width: 64px;
  border-radius: 32px;
}
.contenedor-clientes .contenedor-opiniones-clientes button {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
.contenedor-clientes .tu-opinion-contenedor {
  width: 348px;
  margin-left: 35%;
}
.contenedor-clientes .tu-opinion-contenedor .contenedor-datos-opinion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.contenedor-clientes .tu-opinion-contenedor .contenedor-datos-opinion img {
  width: 64px;
  border-radius: 32px;
}

@media screen and (max-width: 798px) {
  header {
    padding-top: 132px;
  }
  header .inicio {
    width: 334px;
    padding: 8px;
  }
  header .inicio img {
    width: 108px;
  }
  header .inicio h1 {
    margin-top: 0;
  }
  .contenedor-menu .contenedor-comidas {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .contenedor-ubicacion {
    display: block;
    margin: 100px auto;
    margin-left: 0;
    padding: 0;
    text-align: center;
  }
  .contenedor-ubicacion .contenedor-texto-ubicacion .btn-rappi,
.contenedor-ubicacion .contenedor-texto-ubicacion .btn-uberEats {
    margin: 20px auto;
  }
  .contenedor-ubicacion .googlemaps-ubicacion-losJardines iframe {
    width: auto;
    margin: auto;
  }
  section.menu {
    grid-template-columns: 1fr 1fr 1fr;
  }
  div.contenedor-reservar {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 80%;
  }
  div.contenedor-reservar img {
    margin: 0 128px;
  }
  div.contenedor-reservar .contenedor-texto-reservar {
    text-align: center;
  }
  div.contenedor-reservar .contenedor-texto-reservar a {
    width: 128px;
    display: block;
    margin: 50px auto;
  }
}
@media screen and (max-width: 450px) {
  /* inicio */
  header {
    height: 380px;
  }
  header .inicio {
    width: 184px;
    padding: 16px;
  }
  header .inicio .contenedor-texto h2 {
    font-size: 16px;
  }
  header .inicio .contenedor-texto h1 {
    margin-top: 0;
  }
  /* menu */
  section.menu {
    grid-template-columns: 1fr 1fr;
  }
  .grid-galeria {
    margin: 8px;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .grid-galeria .grid-item img {
    height: 132px;
  }
  /* ubicacion */
  .contenedor-ubicacion {
    margin: 0;
    display: block;
    margin-right: 0px;
    padding: 32px 32px 32px 32px;
    border-radius: 0;
  }
  .contenedor-ubicacion .googlemaps-ubicacion-losJardines iframe {
    width: auto;
  }
  .contenedor-ubicacion .contenedor-texto-ubicacion {
    text-align: center;
  }
  .contenedor-ubicacion .contenedor-texto-ubicacion .btn-rappi,
.contenedor-ubicacion .contenedor-texto-ubicacion .btn-uberEats {
    margin: 16px auto;
  }
  /* RESERVAR */
  .contenedor-reservar {
    padding: 8px;
    border-radius: 0;
    display: block;
  }
  .contenedor-reservar img {
    margin: 0;
    width: 99%;
    height: 264px;
  }
  .contenedor-reservar .contenedor-texto-reservar {
    text-align: center;
    padding: 8px;
    margin-bottom: 32px;
  }
  .contenedor-reservar .contenedor-texto-reservar a {
    margin-bottom: 8px;
    text-decoration: none;
  }
  /* CLIENTES */
  body {
    background: #FFD24C;
  }
  body .contenedor-clientes .tu-opinion-contenedor {
    margin: 0 auto;
  }
}
body {
  margin: 0;
  background-color: rgba(255, 210, 76, 0.6) !important;
}

.brand a img:hover {
  transform: rotate(360deg);
  transition-duration: 1.2s;
}

.nav-bar {
  height: 70px;
  background: #262626;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a {
  font-family: "Merienda";
  color: #ffffff;
  text-decoration: none;
}
.brand a img {
  max-height: 70px;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0xcv;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  font-family: "Merienda";
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #262626;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:visited {
  font-family: "Merienda";
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #262626;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover, nav ul li a:visited:hover {
  background: #FFD24C;
  color: #262626;
}
nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 70px 0 0px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
    padding-left: 25%;
  }
  nav ul li ul li a {
    padding-left: 30%;
  }
  .nav-dropdown {
    position: static;
  }
  .brand a img {
    max-height: 60px;
    margin-top: 5px;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

footer {
  background: #262626;
  margin: 0;
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
footer .redes-sociales .contenedor-nosotros {
  display: block;
  width: 264px;
  margin-left: 50px;
  text-align: center;
}
footer .redes-sociales .contenedor-nosotros p {
  color: #fff;
  font-family: "Poppins";
}
footer .redes-sociales .contenedor-nosotros .contenedor-redes {
  display: flex;
  justify-content: space-around;
}
footer .redes-sociales .contenedor-nosotros .contenedor-redes svg.icon-color {
  color: #FFD24C;
}
footer .contacto p {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  font-family: "Poppins";
  color: #fff;
  font-weight: 100;
}
footer .contacto .contenedor-contacto form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .contacto .contenedor-contacto form .textarea-mensaje,
footer .contacto .contenedor-contacto form .input-correo {
  width: auto;
  height: 32px;
  margin-bottom: 8px;
  font-family: "Poppins";
  font-weight: 300;
}
footer .contacto .contenedor-contacto form .boton-formulario {
  padding: 8px;
  margin-bottom: 16px;
  font-family: "Poppins";
  font-weight: 400;
  background-color: #262626;
  border: #92B4EC;
}
footer .contacto .contenedor-contacto form .boton-formulario:hover {
  background: #64c27b;
  color: #fff;
  border: #64c27b;
}
footer .contacto .contenedor-contacto h3 {
  color: #FFD24C;
  font-family: "Poppins";
  font-weight: 700;
  margin-top: 0;
  text-align: center;
}
footer section .contenedor-nosotros h3 {
  color: #FFD24C;
  font-family: "Poppins";
  font-weight: 700;
  margin-top: 0;
  text-align: center;
}
footer div.img-footer {
  display: flex;
  align-items: center;
}
footer div.img-footer img {
  margin: 0 auto;
  width: 50%;
}

@media screen and (max-width: 450px) {
  footer .contacto .contenedor form.formulario .input-nombre,
footer .contacto .contenedor form.formulario .input-correo,
footer .contacto .contenedor form.formulario .textarea-mensaje {
    width: 232px;
    height: 24px;
  }
  footer section.redes-sociales .contenedor a svg.icon-color {
    width: 24px;
  }
  footer img {
    width: 35%;
    height: 130px;
    margin-top: 42px;
  }
  footer .contacto .contenedor form.formulario .input-nombre,
footer .contacto .contenedor form.formulario .input-correo,
footer .contacto .contenedor form.formulario .textarea-mensaje {
    width: 200px;
  }
  footer .contacto .contenedor-contacto {
    width: 100px;
  }
  footer .redes-sociales .contenedor-nosotros {
    width: 116px;
    margin-left: 8px;
  }
  footer .contacto .contenedor-contacto form.formulario .textarea-mensaje,
footer .contacto .contenedor-contacto form.formulario .input-correo {
    width: 100px;
  }
  footer .contacto .contenedor-contacto h3 {
    font-size: 16px;
  }
  footer .redes-sociales .contenedor-nosotros h3 {
    font-size: 16px;
  }
  footer .redes-sociales .contenedor-nosotros p {
    font-size: 12px;
  }
  footer .redes-sociales .contenedor-nosotros .contenedor-redes .icon-color {
    width: 16px;
  }
}/*# sourceMappingURL=main.css.map */